transformers
sentence-transformers
nltk
sentencepiece
SpeechRecognition
sacremoses
pytz
pandas
matplotlib
langdetect
googletrans
hf_xet
protobuf
textblob
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
opencv-python
cmake
face_detection
face_recognition
bcrypt
gspread
oauth2client
